{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="wrapper">
        
        <div class="center1">
            <h1>Lets make this world better,<br> by planting trees</h1>
            
                <div class="buttons1">
                    <a href="{% url 'pform' %}"> <br><br>
                    <button>Donate a Tree</button>
                    </a>
        
                    
                </div>

                </div>
        </div>
    </div>
{% endblock content %}
    
