{% extends 'basic.html' %}
{% block title %} PromoteHere - Websites {% endblock %}
{% block css %}
body {
    background-color: #252525;
}
hr.rounded {
    border-top: 6px solid white;
    border-radius: 3px;
    margin-left: 2.1%;
    margin-right: 2.1%;
}
.website-card {
    background-color: white;
    width: 93%;
    height: 280px;
    margin-left: 3.5%;
    box-shadow: 10px 10px 10px black;
}
.left {
    float: left;
}
.left-para {
    margin-left : 3%;
}
#topic-1 {
    color: #fed136;
    text-align: center;
    margin-top: 1.5%;
}
#img-aw-1 {
    height: 90%;
    width: 54%;
    margin-top: 1.2%;
    margin-left: 1.2%;
    border: 5px solid black; 
    float: left;
    align: left;
}
#img-aw-2 {
    height: 90%;
    width: 54%;
    margin-top: 1.2%;
    margin-right: 1.5%;
    border: 5px solid black; 
    float: right;
    align: left;
}
#web-1 {
    padding-top: 1.7%;
}


{% endblock %}
{% block body %}
<h2 id="topic-1"><b>Our Associated Websites</b></h2> <br>
<hr class="rounded"> <br><br>
<div class="website-card">
    <img src="https://i.ibb.co/mSGbsD0/photo-2020-11-19-10-24-37.jpg" id="img-aw-1" HSPACE="50" VSPACE="0">
    <h4 id="web-1">www.silcharsarcasm.com</h4><br>
    <div><b>About This Page:</b><br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd 
    </div>
</div><br><br>
<hr class="rounded">
<br><br>
<div class="website-card">
    <div class="left left-para mt-3">
    <h4 id="web-1">www.silcharsarcasm.com</h4><br>
    <div><b>About This Page:</b><br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd 
    </div></div>
    <img src="https://i.ibb.co/mSGbsD0/photo-2020-11-19-10-24-37.jpg" id="img-aw-2" HSPACE="0" VSPACE="0">
</div><br><br>
<hr class="rounded">
<br><br>
<div class="website-card">
    <img src="https://i.ibb.co/mSGbsD0/photo-2020-11-19-10-24-37.jpg" id="img-aw-1" HSPACE="50" VSPACE="0">
    <h4 id="web-1">www.silcharsarcasm.com</h4><br>
    <div><b>About This Page:</b><br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd 
    </div>
</div><br><br>
<hr class="rounded">
<br><br>
<div class="website-card">
    <div class="left left-para mt-3">
    <h4 id="web-1">www.silcharsarcasm.com</h4><br>
    <div><b>About This Page:</b><br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd <br>
    This page is based on the djhsdjfjkfdkjfjkdfdjdjffdkkdffgdgdfgfdgfd 
    </div></div>
    <img src="https://i.ibb.co/mSGbsD0/photo-2020-11-19-10-24-37.jpg" id="img-aw-2" HSPACE="0" VSPACE="0">
</div><br><br>
<hr class="rounded">
<br><br>
{% endblock %}
<!-- <img src="https://i.ibb.co/mSGbsD0/photo-2020-11-19-10-24-37.jpg"> -->